@font-face {
  font-family: 'Geomanist';
  src: url('../fonts/geomanist/geomanist-book.eot');
  src: url('../fonts/geomanist/geomanist-book.eot?#iefix')
      format('embedded-opentype'),
    url('../fonts/geomanist/geomanist-book.woff2') format('woff2'),
    url('../fonts/geomanist/geomanist-book.woff') format('woff'),
    url('../fonts/geomanist/geomanist-book.ttf') format('truetype'),
    url('../fonts/geomanist/geomanist-book.svg#geomanist-book') format('svg');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  font-family: 'Geomanist';
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2px;
  color: #545e6f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  background: #f1f2f5;
}
.header {
  background: #451771;
  padding: 20px 25px;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo-ultimate {
  height: 24px;
  width: 24px;
  background: url('../img/ultimate.svg') no-repeat center center;
  background-size: contain;
}
.logo-name {
  margin: 0 0 0 14px;
  line-height: 24px;
  font-size: 1.2rem;
  color: #fff;
}
.header-logo img {
  height: 100%;
}
#app {
  padding: 40px 0;
}
/* Todo Styling */
.todos {
  width: 420px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 0 rgba(84, 94, 111, 0.2);
}
.todos-header {
  position: relative;
  padding: 24px 24px 0 24px;
}
.todos-header div {
  color: #777d8c;
  display: flex;
}
.todos-header div p {
  margin: 0;
}
.todos-title {
  margin: 0 0 8px;
  font-size: 24px;
  letter-spacing: 0.2px;
  font-weight: normal;
}
.todos-clear {
  outline: 0;
  border: 0;
  font-family: 'Geomanist';
  font-size: 12px;
  color: #939aab;
  padding: 0 5px;
  border-radius: 3px;
  cursor: pointer;
  border-bottom: 1px solid transparent;
  margin-left: auto;
}
.todos-clear:hover {
  color: #ff5858;
}
.todos-clear:focus {
  color: #ff5858;
  border-color: #ff5858;
}
.todos-form {
  padding: 22px 24px 18px;
}
.todos-form input {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #dcdfe4;
  padding: 12px 14px;
  outline: 0;
  font-family: 'Geomanist';
  font-size: 14px;
  color: #545e6f;
}
.todos-form input::placeholder {
  color: #777d8c;
}
.todos-form input:focus {
  border-color: #24b373;
  box-shadow: 0 0 0 3px #cff1e2;
}
.todos-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.todos-list li {
  position: relative;
  line-height: 26px;
  font-size: 16px;
  border-top: 1px solid #dcdfe4;
  padding: 8px 24px;
  height: 42px;
  display: flex;
}
.todos-list li:first-child {
  border-top: 1px solid transparent;
}
.todos-list li:last-child input[type='text'] {
  border-radius: 0 0 10px 10px;
}
.todos-list li input[type='checkbox'] {
  -webkit-appearance: none;
  margin: 0;
  padding: 0;
  border: 1px solid #d2d5da;
  background: #fff;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  outline: none;
  position: relative;
  z-index: 2;
  top: 3px;
  order: 1;
  margin-right: 10px;
  flex-shrink: 0;
}
.todos-list li input[type='checkbox']:checked {
  background: #24b373 url('../img/done.svg') no-repeat center center;
  background-size: contain;
  border-color: #24b373;
}
.todos-list li input[type='checkbox']:focus {
  border-color: #24b373;
  box-shadow: 0 0 0 3px #cff1e2;
}
.todos-list li span {
  flex-grow: 1;
  order: 2;
}
.todos-list li input[type='text'] {
  order: 2;
  width: 100%;
  padding: 0 0 0 50px;
  border: none;
  outline: 0;
  font-family: 'Geomanist';
  color: #545e6f;
  line-height: 26px;
  font-size: 16px;
  letter-spacing: 0.2px;
  position: absolute;
  top: 0;
  left: 0;
  height: 42px;
  border-bottom: 1px solid #d2d5da;
  box-shadow: inset 0 1px 3px #d2d5da;
  z-index: 1;
}
.todos-list li button {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: url('../img/delete.svg') no-repeat center center;
  background-size: contain;
  background-clip: padding-box;
  outline: 0;
  cursor: pointer;
  padding: 0;
  border: 1px solid transparent;
  margin-left: auto;
  order: 3;
  flex-shrink: 0;
  position: relative;
  z-index: 2;
}
.todos-list li button:hover {
  background: url('../img/delete-full.svg') no-repeat center center;
  background-size: contain;
  background-clip: padding-box;
}
.todos-list li button:focus {
  background: url('../img/delete-full.svg') no-repeat center center;
  background-size: contain;
  background-clip: padding-box;
}
.todos-complete span {
  text-decoration: line-through;
  color: #939aab;
}
